<div nz-row>
  <div nz-col nzSpan="12"><video id="my-video" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto"
       poster="https://github.com/leetomlee123/img/blob/master/img/20181010163306.jpg?raw=true"
      data-setup="{}">
      <source src="https://dms.licdn.com/playback/C4E05AQEYsGclwgM-VA/0e045791b688497aade19a2dc38e0f84/feedshare-mp4_500-captions-thumbnails/1507940118923-hysdc8?e=1543388400&v=beta&t=CUF1h59JySZz5cCwLid7RQnCDCcT0JRwu9yga2wc5Iw"
        type='video/mp4'>
      <!-- <source src="MY_VIDEO.webm" type='video/webm'> -->
      <p class="vjs-no-js">
        To view this video please enable JavaScript, and consider upgrading to a web browser that
        <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
      </p>
    </video></div>
  <div nz-col nzSpan="12">col-12</div>
  <a href="http://nhd-poc-test-data.oss-cn-hangzhou.aliyuncs.com/reports/%E5%85%A8%E6%99%AF%E7%9B%91%E6%8E%A7%E6%8A%A5%E8%A1%A8-010101-2019-01-01.doc?Expires=1546422097&OSSAccessKeyId=TMP.AQGbrZ61FSHSbK_ArzZoNkMvwgNhRkBnZjPAmKThcHlEO34XfXMhCSu93EBDMC4CFQDMMirsRgURX-dztTJLxpE2gkMd1wIVAJxdENM1KFnoLj7oDrdvw-DOCK8u&Signature=Y5bHGdJHNzwFJYotWJEhPn4K634%3D">download</a>
</div>